#home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BOARD HEADER */
#board-header-start {
  width: 832px;
}

#board-header {
  text-align: left;
  padding: 40px 0px 10px 0px;
}

/* BOARDS */
#board-container {
  text-align: center;
}

#board-container-inner {
  display: grid;
  grid-template-columns: repeat(4, 193px);
  grid-auto-rows: 96px;
  grid-gap: 20px;
}

.board-li {
  border-radius: 5px;
  /* background-color: #353535; */
  background-color: #026aa7;
}

.board-li:hover {
  /* background-color: #181818; */
  background-color: #014a75;
}

#board-link {
  text-align: center;
  padding: 1rem 0.5rem 0;
}

#board-link > a {
  font-size: 16px;
  color: white;
  font-weight: 600;
  text-decoration: none;
}

#clickable-div {
  height: 96px;
}

/* ADD BOARD */
#add-board-container {
  justify-content: center;
  cursor: pointer;
}

#add-board {
  color: white;
}
